@tailwind base;
@tailwind components;
@tailwind utilities;

/* Colors main=> #CAFA53, background => #090D0F */

@layer base {
  span {
    @apply text-[#CAFA53] font-semibold inline-block hover:scale-105 ;
  }
}


:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: linear-gradient(135deg, hsla(210, 25%, 5%, 1) 60%, hsla(254, 36%, 38%, 1) 100%);
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
